.NavBar{
    margin: 0;
    padding: 0;
}

#navMobile {
    display: none;
}

#navHeader li{
    margin: auto;
}

#navHeader ul{
    margin: auto;
    display: flex;
    align-content: center;
    margin-left: -5%;
}

#navHeader a{
    font-size: 24px;
    text-decoration: none; 
    color: white;
}

#navHeader {
    height: fit-content;
    background: rgb(175,31,36);
    width: 100%;
}

.navButtons {
    display: grid;
    width: 25%;
    text-align: center;
    transition: 0.2s;
}

.navButtons:hover {
    background: rgb(117, 10, 14);
    display: grid;
    grid-column: auto auto auto auto;
}