.Footer {
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 3%;
    height: 200px;
    background-color: #242424;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 100%;
}
